<div fxLayout="column" id="main" style="width: 100%; height: 100%">
    <div fxFlex="1 1 auto">
        <div id="userList" fxLayout="row">
        
            <mat-list style="width: 200px">
                <mat-list-item> 
                    User 1 
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item> 
                    User 2 
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item> 
                    User 3 
                </mat-list-item>
            </mat-list>

            <div id="messagePreview" fxFlex="1 1 auto">
            
            </div>
        </div>
        
    </div>
    <div fxLayout="row">
        <mat-form-field fxFlex="1 1 auto" appearance="outline">
            <textarea style="resize: none;" matInput>

            </textarea>
        </mat-form-field>
        <button mat-icon-button color="primary">
            <mat-icon>send</mat-icon>
        </button>
    </div>
</div>
